* {
	margin: 0;
	padding: 0;
}

div.container {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	height: 100vh;
	background-color: rgb(212, 224, 224);
}

div.container div.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 350px;
	height: fit-content;
	gap: 0.5rem;
	border: 1px solid rgb(203, 192, 192);
	border-radius: 10px;
	padding: 1rem;
	background-color: #fff;
	border: none;
	margin-top: 6rem;
}

div.container div.form h1 {
	margin-bottom: 1rem;
}

div.container div.form div.inputSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

div.container div.form input {
	padding: 0.5rem 1rem;
	border-radius: 5px;
	outline: none;
	width: 64%;
	font-size: 17px;
	border: 1px solid rgb(203, 192, 192);
}

div.container div.form button.add {
	padding: 0.7rem 1rem;
	background-color: rgb(149, 121, 215);
	color: #fff;
	font-weight: 700;
	border-radius: 5px;
	border: none;
}

div.container div.form button.add:hover {
	background-color: rgb(161, 136, 220);
}

select.filter {
	padding: 0.2rem;
	font-weight: 600;
	border-radius: 5px;
	border: 1px solid rgb(203, 192, 192);
}

li.listITem {
	border: 1px solid rgb(203, 192, 192);
	display: flex;
	justify-content: start;
	align-items: center;
	list-style: none;
	margin-bottom: 0.5rem;
	padding: 0 5px;
	border-radius: 5px;
}

li.listITem div input.item {
	border: none;
	padding: 0;
}

li.listITem button {
	border: none;
	font-size: 20px;
	background-color: transparent;
	margin-right: 0.4rem;
	margin-top: 5px;
}

li.listITem div.itemContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li.listITem div.itemContainer .removeBtn {
	font-size: 18px;
	color: red;
}
